In [32]:
#imports
from __future__ import print_function
from pyspark import SparkContext
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from mpl_toolkits.mplot3d import Axes3D
from pyspark.sql.functions import col
from functools import reduce
from pyspark import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.types import ArrayType, IntegerType
from pyspark.sql.functions import col, split, size, isnan, array_contains, array_min, when, count
from pyspark.sql.types import StructType, StructField, TimestampType, StringType, FloatType
import pyspark.sql.functions as f
import matplotlib.pyplot as plt
import pandas as pd 
import glob
import re
import pathlib
import json
import datetime
import numpy as np
import time
import os

In [2]:
#paths
DATASET_PATH='/Users/Soroush/Desktop/Thesis/Code/dataset/'

#from google.colab import drive
#drive.mount('/gdrive')

# **Install spark**

In [ ]:
# Install spark and dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://mirror.its.dal.ca/apache/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz #or any other version
!tar xvf spark-2.4.5-bin-hadoop2.7.tgz #based on version
!pip install -q findspark

# Set up required environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7" #based on version

#imports
import findspark
findspark.init()
import pyspark # Call this only after findspark.init()
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession

#test
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)
file_loc = './sample_data/california_housing_train.csv'
df = spark.read.csv(file_loc, inferSchema=True, header =True)
df.show()

# **Load Dataset**

In [3]:
#load and save .read_pickle() and .to_pickle() 

#save

#dataset.to_pickle(DATASET_PATH+"dataset.pkl")
#aggregated_dataset.to_pickle(DATASET_PATH+"aggregated_dataset.pkl")
#json_dataset.to_pickle(DATASET_PATH+"json_dataset.pkl")
#dataset.to_csv(DATASET_PATH+"dataset.csv")
#aggregated_dataset.to_csv(DATASET_PATH+"aggregated_dataset.csv")
#json_dataset.to_csv(DATASET_PATH+"json_dataset.csv")
#aggregated_dataset_rowBased.to_csv(DATASET_PATH+"aggregated_dataset_rowBased.csv")


#load

dataset=pd.read_pickle(DATASET_PATH+"dataset.pkl")
aggregated_dataset=pd.read_pickle(DATASET_PATH+"aggregated_dataset.pkl")
json_dataset=pd.read_pickle(DATASET_PATH+"json_dataset.pkl")

In [ ]:
#load dataset

# dataset address: http://traces.cs.umass.edu/index.php/Smart/Smart

#Extract File
#import tarfile
#!tar -xf '/gdrive/My Drive/a.gzip' -C '/gdrive/My Drive/'

#load

def load_smart_star_dataset(dataset_path): 
    
    #length of file path
    LENGTH=len(dataset_path)+5

    df_merged = pd.DataFrame(columns=['date'])
    
    # 2014
    #path_2014 = r'/gdrive/My Drive/Dataset/apartment/2014'
    path_2014= dataset_path+'2014'
    all_2014_paths = glob.glob(path_2014 + "/Apt*.csv")
    df_merged_2014 = pd.DataFrame(columns=['date'])
    for file_name in all_2014_paths:
        column_name = file_name[LENGTH:-9]
        # column_name = file_name.replace("dataset/2014/", "").replace("_2014.csv","")
        df = pd.read_csv(file_name, names=["date", column_name])
        df_merged_2014 = pd.merge(df_merged_2014, df, on='date', how='outer', left_index=True, right_index=True)
    
    # 2015
    df_merged_2015 = pd.DataFrame(columns=['date'])
    #path_2015 = r'/gdrive/My Drive/Dataset/apartment/2015'
    path_2015= dataset_path+'2015'
    all_2015_paths = glob.glob(path_2015 + "/Apt*.csv")
    for file_name in all_2015_paths:
        column_name = file_name[LENGTH:-9]
        # column_name = file_name.replace("dataset/2015/", "").replace("_2015.csv","")
        df = pd.read_csv(file_name, names=["date", column_name])
        df_merged_2015 = pd.merge(df_merged_2015, df, on='date', how='outer', left_index=True, right_index=True)
    
    # 2016
    df_merged_2016 = pd.DataFrame(columns=['date'])
    #path_2016 = r'/gdrive/My Drive/Dataset/apartment/2016'
    path_2016= dataset_path+'2016'
    all_2016_paths = glob.glob(path_2016 + "/Apt*.csv")
    for file_name in all_2016_paths:
        column_name = file_name[LENGTH:-9]
        # column_name = file_name.replace("dataset/2016/", "").replace("_2016.csv","")
        df = pd.read_csv(file_name, names=["date", column_name])
        df_merged_2016 = pd.merge(df_merged_2016, df, on='date', how='outer', left_index=True, right_index=True)
    
    # merge all years
    df_merged = df_merged_2014.append(df_merged_2015, ignore_index=True).append(df_merged_2016, ignore_index=True)
    final = df_merged
    #save
    return final

# **Preprocessing**

In [ ]:
#aggregate data

def agg_by_date(final):
    final['date'] = pd.to_datetime(final['date'],)
    final.index=final['date']

    final_agg_by_hour = final.resample('60T').sum(min_count=1)  #for more than to NaN : .apply(lambda x: x.sum() if x.isnull().sum() <= 2 else np.nan)

    final = final_agg_by_hour.resample('D').aggregate(lambda x: x.tolist()) # for tuple: .aggregate(lambda x: tuple(x))

    #remove first and last row
    #aggregated_dataset.drop(pd.to_datetime('2016-12-28'),inplace=True)
    #aggregated_dataset.drop(pd.to_datetime('2014-10-15'),inplace=True)
    #final=final.iloc[1:-1]

    return final

In [ ]:
#create json data from stored dataframe

def to_json(final):
    PERIOD=60

    data_for_json=final.loc[:, final.columns != 'date']

    def date_to_str(o):
        if isinstance(o, datetime.datetime):
            return o.__str__()

    json_dataframe = pd.DataFrame(columns=['data']) #creates a new dataframe that's empty
    L  = []

    import json
    import datetime
    import time

    r, c = data_for_json.shape
    for i in range(0, r):
        for j in range(0, c):
            data = {}
            data['id'] = data_for_json.columns.values[j]
            data['power'] = data_for_json.iloc[i][j]
            data['date']=data_for_json.index.tolist()[i]
            json_data = json.dumps(data,default=date_to_str)
            L.append(json_data)
            #json_dataframe=json_dataframe.append(json_data,ignore_index=True)

    json_dataframe = pd.DataFrame(L, columns=['data'])
    return json_dataframe

In [ ]:
#convert column_based df to row_based

def col_to_row(df):
    #house_id=df.columns
    df.reset_index(inplace=True)
    return pd.melt(df, id_vars=['date'],value_name='power')

#aggregated_dataset=pd.read_pickle(DATASET_PATH+"aggregated_dataset.pkl")
#aggregated_dataset_rowBased=col_to_row(aggregated_dataset)
#aggregated_dataset_rowBased.sort_values(['date', 'variable'], ascending=[True, True],inplace=True)

# **Model**

In [97]:
#create SparkSession
spark = SparkSession.builder.appName("anomaly_detection").master("local[2]").getOrCreate()

#define schema
schema = StructType([
    StructField("#", IntegerType()),
    StructField("date", TimestampType()),
    StructField("id", StringType()),
    StructField("power", StringType())])

#read data
sdf = spark.read.format('csv').options(header='true',inferSchema=True ,schema=schema).load(DATASET_PATH+"aggregated_dataset_rowBased.csv")

#rename columns
def rename_dataframe(sdf):
    names = ['#','date','id','power']
    for c,n in zip(sdf.columns,names):
        sdf=sdf.withColumnRenamed(c,n)
    return sdf
    
sdf=rename_dataframe(sdf)
    
#convert power to array
def string_power_to_array(sdf):
    temp=sdf.withColumn("power", f.regexp_replace(f.regexp_replace(f.col("power"), "\\[", ""),"\\]","")
                        .alias("power"))
    temp=temp.withColumn("power",split(col("power"), ",\s*")
                        .cast(ArrayType(FloatType())).alias("power"))
    return temp

sdf=string_power_to_array(sdf)
sdf.show()

#add validation column
def add_validation_column(sdf):
    v=True
    temp=sdf.withColumn("V",f.when((size(sdf.power)==24) #array size
                                   & ~(f.array_contains(sdf.power, float('nan'))) #containing NaN
                                   & ~(f.array_max(sdf.power)<=0) #all 0
                                   , True).otherwise(False))
    return temp

sdf=add_validation_column(sdf)
sdf.show(120)

def split_power(sdf):
    temp=sdf.select("#","date","id",
           sdf.power[0].alias("H0"), sdf.power[1].alias("H1"), sdf.power[2].alias("H2"),sdf.power[3].alias("H3"),
           sdf.power[4].alias("H4"), sdf.power[5].alias("H5"), sdf.power[6].alias("H6"),sdf.power[7].alias("H7"),
           sdf.power[8].alias("H8"), sdf.power[9].alias("H9"), sdf.power[10].alias("H10"),sdf.power[11].alias("H11"),
           sdf.power[12].alias("H12"), sdf.power[13].alias("H13"), sdf.power[14].alias("H14"),sdf.power[15].alias("H15"),
           sdf.power[16].alias("H16"), sdf.power[17].alias("H17"), sdf.power[18].alias("H18"),sdf.power[19].alias("H19"),
           sdf.power[20].alias("H20"), sdf.power[21].alias("H21"), sdf.power[22].alias("H22"),sdf.power[23].alias("H23"))
    return temp
    
#sdf=split_power(sdf)
#sdf.show()





#sdf.printSchema()

+---+-------------------+-----+--------------------+
|  #|               date|   id|               power|
+---+-------------------+-----+--------------------+
|  0|2014-08-15 00:00:00|Apt36|[1.96932, 0.38400...|
|  1|2014-08-16 00:00:00|Apt36|[0.61410224, 0.44...|
|  2|2014-08-17 00:00:00|Apt36|[1.3780422, 1.165...|
|  3|2014-08-18 00:00:00|Apt36|[1.1634789, 2.013...|
|  4|2014-08-19 00:00:00|Apt36|[1.1126077, 1.294...|
|  5|2014-08-20 00:00:00|Apt36|[1.4072489, 1.076...|
|  6|2014-08-21 00:00:00|Apt36|[1.4892989, 1.260...|
|  7|2014-08-22 00:00:00|Apt36|[0.5883856, 0.554...|
|  8|2014-08-23 00:00:00|Apt36|[0.52373445, 1.48...|
|  9|2014-08-24 00:00:00|Apt36|[0.39280555, 1.30...|
| 10|2014-08-25 00:00:00|Apt36|[0.4686211, 0.502...|
| 11|2014-08-26 00:00:00|Apt36|[1.2439622, 0.637...|
| 12|2014-08-27 00:00:00|Apt36|[1.8882623, 2.731...|
| 13|2014-08-28 00:00:00|Apt36|[1.29602, 1.83715...|
| 14|2014-08-29 00:00:00|Apt36|[1.3385545, 1.459...|
| 15|2014-08-30 00:00:00|Apt36|[1.7708489, 3.387...|
| 16|2014-08-31 00:00:00|Apt36|[1.1021422, 1.852...|
| 17|2014-09-01 00:00:00|Apt36|[2.55456, 1.86436...|
| 18|2014-09-02 00:00:00|Apt36|[0.40945, 1.46271...|
| 19|2014-09-03 00:00:00|Apt36|[1.6452545, 2.654...|
+---+-------------------+-----+--------------------+
only showing top 20 rows

+---+-------------------+-----+--------------------+-----+
|  #|               date|   id|               power|    V|
+---+-------------------+-----+--------------------+-----+
|  0|2014-08-15 00:00:00|Apt36|[1.96932, 0.38400...| true|
|  1|2014-08-16 00:00:00|Apt36|[0.61410224, 0.44...| true|
|  2|2014-08-17 00:00:00|Apt36|[1.3780422, 1.165...| true|
|  3|2014-08-18 00:00:00|Apt36|[1.1634789, 2.013...| true|
|  4|2014-08-19 00:00:00|Apt36|[1.1126077, 1.294...| true|
|  5|2014-08-20 00:00:00|Apt36|[1.4072489, 1.076...| true|
|  6|2014-08-21 00:00:00|Apt36|[1.4892989, 1.260...| true|
|  7|2014-08-22 00:00:00|Apt36|[0.5883856, 0.554...| true|
|  8|2014-08-23 00:00:00|Apt36|[0.52373445, 1.48...| true|
|  9|2014-08-24 00:00:00|Apt36|[0.39280555, 1.30...| true|
| 10|2014-08-25 00:00:00|Apt36|[0.4686211, 0.502...| true|
| 11|2014-08-26 00:00:00|Apt36|[1.2439622, 0.637...| true|
| 12|2014-08-27 00:00:00|Apt36|[1.8882623, 2.731...| true|
| 13|2014-08-28 00:00:00|Apt36|[1.29602, 1.83715...| true|
| 14|2014-08-29 00:00:00|Apt36|[1.3385545, 1.459...| true|
| 15|2014-08-30 00:00:00|Apt36|[1.7708489, 3.387...| true|
| 16|2014-08-31 00:00:00|Apt36|[1.1021422, 1.852...| true|
| 17|2014-09-01 00:00:00|Apt36|[2.55456, 1.86436...| true|
| 18|2014-09-02 00:00:00|Apt36|[0.40945, 1.46271...| true|
| 19|2014-09-03 00:00:00|Apt36|[1.6452545, 2.654...| true|
| 20|2014-09-04 00:00:00|Apt36|[3.2723212, 2.451...| true|
| 21|2014-09-05 00:00:00|Apt36|[1.2240756, 2.237...| true|
| 22|2014-09-06 00:00:00|Apt36|[2.2258666, 2.329...| true|
| 23|2014-09-07 00:00:00|Apt36|[4.1976557, 3.688...| true|
| 24|2014-09-08 00:00:00|Apt36|[2.6905644, 2.807...| true|
| 25|2014-09-09 00:00:00|Apt36|[5.9824624, 7.958...| true|
| 26|2014-09-10 00:00:00|Apt36|[7.0522513, 4.969...| true|
| 27|2014-09-11 00:00:00|Apt36|[2.6638355, 5.018...| true|
| 28|2014-09-12 00:00:00|Apt36|[2.2770889, 3.511...| true|
| 29|2014-09-13 00:00:00|Apt36|[5.0781646, 2.985...| true|
| 30|2014-09-14 00:00:00|Apt36|[3.4998944, 5.125...| true|
| 31|2014-09-15 00:00:00|Apt36|[7.333719, 5.4015...| true|
| 32|2014-09-16 00:00:00|Apt36|[5.087322, 4.8021...| true|
| 33|2014-09-17 00:00:00|Apt36|[3.5213778, 3.067...| true|
| 34|2014-09-18 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 35|2014-09-19 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 36|2014-09-20 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 37|2014-09-21 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 38|2014-09-22 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 39|2014-09-23 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 40|2014-09-24 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 41|2014-09-25 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 42|2014-09-26 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 43|2014-09-27 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 44|2014-09-28 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 45|2014-09-29 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 46|2014-09-30 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 47|2014-10-01 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 48|2014-10-02 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 49|2014-10-03 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 50|2014-10-04 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 51|2014-10-05 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 52|2014-10-06 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 53|2014-10-07 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 54|2014-10-08 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 55|2014-10-09 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...| true|
| 56|2014-10-10 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 57|2014-10-11 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 58|2014-10-12 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 59|2014-10-13 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 60|2014-10-14 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 61|2014-10-15 00:00:00|Apt36|[0.0, 0.0, 0.0, 0...|false|
| 62|2014-10-16 00:00:00|Apt36|[0.0, 0.0, 0.0, 1...| true|
| 63|2014-10-17 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 64|2014-10-18 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 65|2014-10-19 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 66|2014-10-20 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 67|2014-10-21 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 68|2014-10-22 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 69|2014-10-23 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 70|2014-10-24 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 71|2014-10-25 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 72|2014-10-26 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 73|2014-10-27 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 74|2014-10-28 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 75|2014-10-29 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 76|2014-10-30 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 77|2014-10-31 00:00:00|Apt36|[6.6668E-5, 6.666...| true|
| 78|2014-11-01 00:00:00|Apt36|[1.33332E-4, 1.33...| true|
| 79|2014-11-02 00:00:00|Apt36|[1.33332E-4, 2.66...| true|
| 80|2014-11-03 00:00:00|Apt36|[1.33332E-4, 1.33...| true|
| 81|2014-11-04 00:00:00|Apt36|[1.33332E-4, 1.33...| true|
| 82|2014-11-05 00:00:00|Apt36|[1.33332E-4, 1.33...| true|
| 83|2014-11-06 00:00:00|Apt36|[1.33332E-4, 1.33...| true|
| 84|2014-11-07 00:00:00|Apt36|[2.0E-4, 2.0E-4, ...| true|
| 85|2014-11-08 00:00:00|Apt36|[2.0E-4, 2.0E-4, ...| true|
| 86|2014-11-09 00:00:00|Apt36|[2.66668E-4, 2.66...| true|
| 87|2014-11-10 00:00:00|Apt36|[3.33332E-4, 3.33...| true|
| 88|2014-11-11 00:00:00|Apt36|[3.3069167, 5.161...| true|
| 89|2014-11-12 00:00:00|Apt36|[3.0284333, 3.719...| true|
| 90|2014-11-13 00:00:00|Apt36|[3.8005645, 4.988...| true|
| 91|2014-11-14 00:00:00|Apt36|[3.2806456, 3.463...| true|
| 92|2014-11-15 00:00:00|Apt36|[5.0950947, 6.167...| true|
| 93|2014-11-16 00:00:00|Apt36|[5.396663, 6.7414...| true|
| 94|2014-11-17 00:00:00|Apt36|[5.005342, 4.3446...| true|
| 95|2014-11-18 00:00:00|Apt36|[5.341809, 3.2732...| true|
| 96|2014-11-19 00:00:00|Apt36|[5.9732676, 7.286...| true|
| 97|2014-11-20 00:00:00|Apt36|[7.4603434, 5.827...| true|
| 98|2014-11-21 00:00:00|Apt36|[5.934761, 5.8829...| true|
| 99|2014-11-22 00:00:00|Apt36|[6.5312324, 7.011...| true|
|100|2014-11-23 00:00:00|Apt36|[5.612279, 2.8327...| true|
|101|2014-11-24 00:00:00|Apt36|[2.1587055, 1.369...| true|
|102|2014-11-25 00:00:00|Apt36|[0.59770554, 0.32...| true|
|103|2014-11-26 00:00:00|Apt36|[7.473913, 2.3080...| true|
|104|2014-11-27 00:00:00|Apt36|[6.3958254, 4.672...| true|
|105|2014-11-28 00:00:00|Apt36|[0.7734678, 5.343...| true|
|106|2014-11-29 00:00:00|Apt36|[7.3865523, 4.456...| true|
|107|2014-11-30 00:00:00|Apt36|[8.239565, 3.9254...| true|
|108|2014-12-01 00:00:00|Apt36|[2.9575567, 2.395...| true|
|109|2014-12-02 00:00:00|Apt36|[2.0174344, 2.081...| true|
|110|2014-12-03 00:00:00|Apt36|[2.1589022, 2.093...| true|
|111|2014-12-04 00:00:00|Apt36|[0.04887222, 0.28...| true|
|112|2014-12-05 00:00:00|Apt36|[3.5432978, 2.678...| true|
|113|2014-12-06 00:00:00|Apt36|[2.4412088, 1.310...| true|
|114|2014-12-07 00:00:00|Apt36|[1.8246278, 0.249...| true|
|115|2014-12-08 00:00:00|Apt36|[4.338169, 0.1767...| true|
|116|2014-12-09 00:00:00|Apt36|[0.10050111, 0.18...| true|
|117|2014-12-10 00:00:00|Apt36|[1.1344455, 0.092...| true|
|118|2014-12-11 00:00:00|Apt36|[2.7198944, 0.117...| true|
|119|2014-12-12 00:00:00|Apt36|[0.50169, 0.10361...| true|
+---+-------------------+-----+--------------------+-----+
only showing top 120 rows

# **MAIN**

In [ ]:
#load dataset
dataset = load_smart_star_dataset(DATASET_PATH)

#aggregate by date
aggregated_dataset=agg_by_date(dataset)
aggregated_dataset=aggregated_dataset[1:-1]

#to json
json_dataset=to_json(aggregated_dataset)

# **TEST**

In [ ]:
#sdf.printSchema()

from pyspark.sql.types import StringType
from pyspark.sql.functions import udf, col

#cast
def string_to_list(t: str):
    return t.strip('][').split(', ') 
     

sdf.withColumn("greetings", string_to_list(col("power"))).show()

In [ ]:
from pyspark.sql.types import *

schema = StructType([
  StructField("num", IntegerType()),
    StructField("date", TimestampType()),
    StructField("id", StringType()),
  StructField("power", ArrayType(
      StructType([
          StructField("H0", FloatType(), True),
          StructField("H1", FloatType(), True),
          StructField("H2", FloatType(), True),
          StructField("H3", FloatType(), True),
          StructField("H4", FloatType(), True),
          StructField("H5", FloatType(), True),
          StructField("H6", FloatType(), True),
          StructField("H7", FloatType(), True),
          StructField("H8", FloatType(), True),
          StructField("H9", FloatType(), True),
          StructField("H10", FloatType(), True),
          StructField("H11", FloatType(), True),
          StructField("H12", FloatType(), True),
          StructField("H13", FloatType(), True),
          StructField("H14", FloatType(), True),
          StructField("H15", FloatType(), True),
          StructField("H16", FloatType(), True),
          StructField("H17", FloatType(), True),
          StructField("H18", FloatType(), True),
          StructField("H19", FloatType(), True),
          StructField("H20", FloatType(), True),
          StructField("H21", FloatType(), True),
          StructField("H22", FloatType(), True),
          StructField("H23", FloatType(), True)
      ])
   )
             )])

a = spark.read.format('csv').schema(schema).option("header", "true").load(DATASET_PATH+"f.csv")
a.show()

In [ ]:
#sc = SparkContext.getOrCreate()
#spark = SparkSession(sc)

spark = SparkSession.builder.appName("anomaly_detection").master("local[2]").getOrCreate()

#load dataset
sdf = spark.read.format('csv').options(header='true', inferSchema='true').load(DATASET_PATH+"aggregated_dataset_rowBased.csv")

#cast
def string_to_list(t):
    return t.strip('][').split(', ') 

sdf.show()
#sdf.take(10)

In [14]:

#c = sdf.withColumn('new_column',func_udf(sdf['_c0']))
#c=sdf.withColumn("V",f.when((size(sdf.power)==24) , True).otherwise(False))

a = spark.read.format('csv').schema(schema).option("header", "true").load(DATASET_PATH+"f.csv")

def string_power_to_array(sdf):
    temp=sdf.withColumn("power", f.regexp_replace(f.regexp_replace(f.col("power"), "\\[", ""),"\\]","")
                        .alias("power"))
    temp=temp.withColumn("power",split(col("power"), ",\s*")
                        .cast(ArrayType(FloatType())).alias("power"))
    return temp

a=string_power_to_array(a)

a.printSchema()

a=a.withColumn("V1",f.when((size(a.power)==24) , True).otherwise(False))
#a=a.withColumn("V2",isnan(a.power))
#a=a.withColumn("V3",col("power").isNull())
#a=a.withColumn("V4",a.power> 0)
#a=a.withColumn("V5",array_contains(col("power"), 1.0))
a.show()

b=a.select("num","date","id","power")
b.show()


c=a.select("num","date","id",
           a.power[0].alias("H0"), a.power[1].alias("H1"), a.power[2].alias("H2"),a.power[3].alias("H3"),
           a.power[4].alias("H4"), a.power[5].alias("H5"), a.power[6].alias("H6"),a.power[7].alias("H7"),
           a.power[8].alias("H8"), a.power[9].alias("H9"), a.power[10].alias("H10"),a.power[11].alias("H11"),
           a.power[12].alias("H12"), a.power[13].alias("H13"), a.power[14].alias("H14"),a.power[15].alias("H15"),
           a.power[16].alias("H16"), a.power[17].alias("H17"), a.power[18].alias("H18"),a.power[19].alias("H19"),
           a.power[20].alias("H20"), a.power[21].alias("H21"), a.power[22].alias("H22"),a.power[23].alias("H23")
          )
c.show()
c.printSchema()

root
 |-- num: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- id: string (nullable = true)
 |-- power: array (nullable = true)
 |    |-- element: float (containsNull = true)

+---+-------------------+-----+--------------------+----+
|num|               date|   id|               power|  V1|
+---+-------------------+-----+--------------------+----+
|  0|2014-08-15 00:00:00|Apt36|[1.96932, 0.38400...|true|
|  1|2014-08-16 00:00:00|Apt36|[0.61410224,, 0.3...|true|
+---+-------------------+-----+--------------------+----+

+---+-------------------+-----+--------------------+
|num|               date|   id|               power|
+---+-------------------+-----+--------------------+
|  0|2014-08-15 00:00:00|Apt36|[1.96932, 0.38400...|
|  1|2014-08-16 00:00:00|Apt36|[0.61410224,, 0.3...|
+---+-------------------+-----+--------------------+

+---+-------------------+-----+----------+----------+----------+----------+---------+-----------+----------+-----------+----------+---------+---------+----------+----------+---------+----------+----------+----------+---------+----------+----------+---------+---------+---------+----------+
|num|               date|   id|        H0|        H1|        H2|        H3|       H4|         H5|        H6|         H7|        H8|       H9|      H10|       H11|       H12|      H13|       H14|       H15|       H16|      H17|       H18|       H19|      H20|      H21|      H22|       H23|
+---+-------------------+-----+----------+----------+----------+----------+---------+-----------+----------+-----------+----------+---------+---------+----------+----------+---------+----------+----------+----------+---------+----------+----------+---------+---------+---------+----------+
|  0|2014-08-15 00:00:00|Apt36|   1.96932|0.38400444|0.36845776|0.37478444|0.7302378|0.024483334|0.97785443|0.024716666|0.73472667|1.5942433|0.8338022|0.02342222|0.72285223|1.0241567|0.77641886|0.78661555|0.27470222|1.4024155|0.29527557|0.14368889|0.8034489|1.1957567|0.2840011|0.33696333|
|  1|2014-08-16 00:00:00|Apt36|0.61410224|      null| 0.3967911| 1.3392245|   0.5496|  1.6606333|      null|  1.2925533| 1.7467889|  1.74047|1.2520833| 1.7258222| 1.9947356|2.3601334| 1.4220456| 1.4096756| 0.8826689|2.5887167| 1.6094811| 1.9702544|  0.52544|0.5408767|1.3096111|0.44631332|
+---+-------------------+-----+----------+----------+----------+----------+---------+-----------+----------+-----------+----------+---------+---------+----------+----------+---------+----------+----------+----------+---------+----------+----------+---------+---------+---------+----------+

root
 |-- num: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- id: string (nullable = true)
 |-- H0: float (nullable = true)
 |-- H1: float (nullable = true)
 |-- H2: float (nullable = true)
 |-- H3: float (nullable = true)
 |-- H4: float (nullable = true)
 |-- H5: float (nullable = true)
 |-- H6: float (nullable = true)
 |-- H7: float (nullable = true)
 |-- H8: float (nullable = true)
 |-- H9: float (nullable = true)
 |-- H10: float (nullable = true)
 |-- H11: float (nullable = true)
 |-- H12: float (nullable = true)
 |-- H13: float (nullable = true)
 |-- H14: float (nullable = true)
 |-- H15: float (nullable = true)
 |-- H16: float (nullable = true)
 |-- H17: float (nullable = true)
 |-- H18: float (nullable = true)
 |-- H19: float (nullable = true)
 |-- H20: float (nullable = true)
 |-- H21: float (nullable = true)
 |-- H22: float (nullable = true)
 |-- H23: float (nullable = true)